mat-toolbar {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    background-color: rgb(60, 126, 169) !important;
    color:white !important;
}

mat-toolbar img {
    width: 50px; 
}

.social-buttons-container {
  display: flex;
  gap: 15px; 
  margin-top: 2px;
  justify-content: center; 
}

.social-button {
  display: flex; 
  align-items: center; 
  padding: 5px 12px;
  border-radius: 8px; 
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease; 
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-button img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  filter: invert(1);
}

.instagram-button {
  background-color: #E4405F; 
}
.instagram-button:hover {
  background-color: #D32E4A; 
}

.facebook-button {
  background-color: #3B5998; 
}
.facebook-button:hover {
  background-color: #2D4373; 
}
@media (max-width: 400px) {
    mat-toolbar {
        flex-direction: column; 
        align-items: center; 
    }
    
    mat-toolbar button {
        width: 50%; 
        margin: 5px 0; 
    }
}
