<mat-toolbar color="primary">
    <img src="./assets/hijosDeLaFe/HijosdelaFeLogo-Blanco.png" width="80px" />
    <div class="example-spacer"></div>
    <button *ngIf="isHome()" mat-button routerLink="/quienes-somos">¿Quiénes Somos?</button> <!-- Botón agregado -->
    <button *ngIf="isQuienesSomos()" mat-button routerLink="/">VOLVER</button>
    <div class="example-spacer"></div>
    <a href="assets/concurso_teatro/archivo_concurso_teatro/Concurso Teatro.pdf" download>
      <button *ngIf="isHome()" style="color: white" mat-button>Concurso Teatro</button> 
    </a>
    <div class="example-spacer"></div>
    <!-- <button *ngIf="isHome()" mat-button routerLink="/quienes-somos">Concurso Dibujos</button> -->
    <a href="assets/concurso_dibujos/archivo_concurso_dibujos/Concurso de Dibujo Virgen del Milagro.pdf" download>
      <button *ngIf="isHome()" style="color: white" mat-button>Concurso Dibujos</button> 
    </a>
  </mat-toolbar>
  