<mat-toolbar color="primary">
    <img src="./assets/hijosDeLaFe/HijosdelaFeLogo-Blanco.png" width="80px" />
    <div class="example-spacer"></div>
    <!-- <mat-icon style="margin-right: 15px">person</mat-icon>
    <span>{{ rol }}: {{ lastname }}, {{ name }}</span> -->
    <!-- <button
      (click)="logout()"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      style="margin-left: 200px"
    >
      <mat-icon>logout</mat-icon>
    </button> -->
    
  </mat-toolbar>
  