<mat-toolbar>
    <img src="./assets/hijosDeLaFe/HijosdelaFeLogo-Blanco.png" width="80px" />
    <div class="example-spacer"></div>
    <button *ngIf="isHome()" mat-button routerLink="/quienes-somos">¿Quiénes Somos?</button> 
    <button *ngIf="isQuienesSomos()" mat-button routerLink="/">VOLVER</button>
    <div class="example-spacer"></div>
    <div *ngIf="isHome()" class="social-buttons-container">      
      <a href="https://www.instagram.com/hijosdelafe/" target="_blank" class="social-button instagram-button">
        <img  src="assets/iconos/instagram_sin_color.svg" alt="Instagram">
        <span >Instagram</span>
      </a>
      <div class="example-spacer"></div>      
      <a href="https://www.facebook.com/hijosdelafecordoba" target="_blank" class="social-button facebook-button">
        <img src="assets/iconos/facebook.svg" alt="Facebook">
        <span>Facebook</span>
      </a>
    </div>
  </mat-toolbar>
  