<app-navbar></app-navbar>
<div class="container">
    <div class="zoom-container">
        <img
          src="assets/hijosDeLaFe/HijosdelaFeLogo-Blanco.png" 
          alt="Zoom Image"
          class="zoom-image"
          width="600px"
        />
      </div>
      <div class="button-container" style="text-align: center; margin-top: 20px;">
        <!-- <a href="/formulario-venta" class="btn btn-primary">Comprar Entradas</a> -->
        <button mat-raised-button class="custom-button">Entradas Hijos de la Fe 2024!</button>
    </div>
</div>
<router-outlet></router-outlet>