<app-navbar></app-navbar>

<div class="quienes-somos-container">
    <div class="sidebar">
      <button mat-flat-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info1'}" (click)="mostrarInfo('assets/quienes_somos/contenido/quienes_somos.png', 'info1')">¿Quienes somos?</button>
      <button mat-flat-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info2'}" (click)="mostrarInfo('assets/quienes_somos/contenido/que_hacemos.png', 'info2')">¿Que hacemos?</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info3'}" (click)="mostrarInfo('assets/quienes_somos/contenido/nuestros_objetivos.png', 'info3')">Nuestros Objetivos</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info4'}" (click)="mostrarInfo('assets/quienes_somos/contenido/nuestros_valores.png', 'info4')">Nuestros valores</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info5'}" (click)="mostrarInfo('assets/quienes_somos/contenido/artistas_hijos.png', 'info5')">Artistas Hijos de la Fé</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info6'}" (click)="mostrarInfo('assets/quienes_somos/contenido/reconocimientos.png', 'info6')">Reconocimientos</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info7'}" (click)="mostrarInfo('assets/quienes_somos/contenido/como_sumarse_voluntariado.png', 'info7')">Sumarse como Voluntariado</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info8'}" (click)="mostrarInfo('assets/quienes_somos/contenido/como_sumarse_artista.png', 'info8')">Sumarse como Artista</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info9'}" (click)="mostrarInfo('assets/quienes_somos/contenido/como_podes_ayudar.png', 'info9')">¿Cómo podés ayudar?</button>

    <a href="assets/quienes_somos/archivo/hijosdelafe_quienesSomos.pdf" download>
      <button mat-raised-button class="descarga" color="accent">Descargar PDF</button>
    </a>
    </div>
    <div class="info-display">      
      <mat-card class="custom-card" style="width: 1000px">
        <mat-card-content>
          <div *ngIf="imagenActual" class="image-container">
            <img [src]="imagenActual" alt="Quienes Somos" class="card-image" />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  