 .quienes-somos-container {
    display: flex;
    height: 100vh; 
  }
  

    .sidebar {
        width: 200px;
        background-color: #99a2d3;
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
      }
      
      .sidebar button {        
        margin-bottom: -50px; 
        margin-top: 100px; 
        transition: background-color 0.3s ease, color 0.3s ease;
        width: 100%; /* Asegura que todos los botones ocupen el mismo ancho */
      }

      .sidebar button:hover {
        background-color: #1565c0; /* Cambia el color de fondo */
        color: white; /* Cambia el color del texto */
      }

      .sidebar .descarga:hover {
        background-color: #cddbeb; /* Cambia el color de fondo */
        color: rgb(161, 54, 54); /* Cambia el color del texto */
      }
  

  .info-display {
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 10px;
    flex-grow: 1; /* Permite que ocupe el espacio restante */
}

.custom-card{
  background-color:rgba(218, 225, 95, 0.5);
  color: white;
  font-size:25px;
  line-height: 1.5
} 

.artistas-list {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  gap: 10px; /* Espaciado entre elementos */
}

.artista-item {
  flex: 1 0 30%; /* Cada ítem ocupa al menos el 30% del ancho, ajustando según el espacio */
  min-width: 150px; /* Ancho mínimo para los elementos */
  box-sizing: border-box; /* Para incluir el padding y border en el ancho */
  font-size:18px;
}

.selected-button {
  background-color: #1976d2; /* Cambia a un color que prefieras */
  color: white; /* Color del texto */
  border: 2px solid #fff; /* Bordes adicionales si lo deseas */
  /* Otros estilos opcionales */
  font-weight: bold; /* Cambiar el peso de la fuente */
}
