<app-navbar></app-navbar>

<div class="quienes-somos-container">
    <div class="sidebar">
      <button mat-flat-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info1'}" (click)="mostrarInfo('assets/quienes_somos/contenido/quienes_somos.png')">¿Quienes somos?</button>
      <button mat-flat-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info2'}" (click)="mostrarInfo('assets/quienes_somos/contenido/que_hacemos.png')">¿Que hacemos?</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info3'}" (click)="mostrarInfo('assets/quienes_somos/contenido/nuestros_objetivos.png')">Nuestros Objetivos</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info4'}" (click)="mostrarInfo('assets/quienes_somos/contenido/nuestros_valores.png')">Nuestros valores</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info5'}" (click)="mostrarInfo('assets/quienes_somos/contenido/artistas_hijos.png')">Artistas Hijos de la Fé</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info6'}" (click)="mostrarInfo('assets/quienes_somos/contenido/reconocimientos.png')">Reconocimientos</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info7'}" (click)="mostrarInfo('assets/quienes_somos/contenido/como_sumarse_voluntariado.png')">Sumarse como Voluntariado</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info8'}" (click)="mostrarInfo('assets/quienes_somos/contenido/como_sumarse_artista.png')">Sumarse como Artista</button>
      <button mat-raised-button color="primary" [ngClass]="{'selected-button': selectedInfo === 'info9'}" (click)="mostrarInfo('assets/quienes_somos/contenido/como_podes_ayudar.png')">¿Cómo podés ayudar?</button>

      <!-- Botón para descargar el PDF -->
    <a href="assets/quienes_somos/archivo/hijosdelafe_quienesSomos.pdf" download>
      <button mat-raised-button class="descarga" color="accent">Descargar PDF</button>
    </a>
    </div>
    <div class="info-display">      
      <mat-card class="custom-card" style="width: 1000px">
        <!-- <mat-card-content *ngIf="selectedInfo" [innerHTML]="formattedObjetivos">{{contenidoInfo}}</mat-card-content> -->
        <!-- <mat-card-content *ngIf="selectedInfo == 'info6'">
          <div class="artistas-list">
            <div *ngFor="let artista of artistasList" class="artista-item">
                - {{ artista }}
            </div>
          </div>
        </mat-card-content> -->
        <mat-card-content>
          <div *ngIf="imagenActual" class="image-container">
            <img [src]="imagenActual" alt="Quienes Somos" class="card-image" />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  