/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body {
    margin: 0;
    height: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: rgb(81, 102, 126);
    background-image: url('assets/fondo/fondoWeb.jpg');
    background-size: cover; /* Para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Para que no se repita */
    background-position: center; /* Para centrar la imagen */
  }


.container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
}

.example-spacer {
  flex: 1 auto;
}